<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">


<body>
	<div layout:fragment="content">
		<div class="content container-fluid">
			<div>사용자 페이지</div>
			<br>
			<button class="btn" id="intro">조회</button>
			<button type="button" class="btn-open-popup btn" data-toggle="modal" data-target="#exampleModal">등록</button>
			<button type="button" class="btn-open-popup btn" data-toggle="modal"
				data-target="#exampleModal2">수정</button>
			<button class="btn" onclick="javascript:delete2()">삭제</button>
			<input type="text" id="user_names" placeholder="검색할 이름을 입력하시오." />
			<input type="text" id="user_ids" placeholder="검색할 id를 입력하시오." />
			<input type="button" id="user_regis" value="수정한 사람들" />
			<label for="regi_dates_from" class="control-label">등록한 시작날</label>
			<input type="date" id="regi_dates_from">
			<label for="regi_dates_to" class="control-label">등록한 마지막날</label>
			<input type="date" id="regi_dates_to">
			<label for="upda_dates_from" class="control-label">수정 시작일</label>
			<input type="date" id="upda_dates_from">
			<label for="upda_dates_to" class="control-label">수정 마지막일</label>
			<input type="date" id="upda_dates_to">
			<br>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">등록창</h4>
						</div>
						<div class="modal-body">
							<form action="/page1/regi" method="post">
								<div class="form-group">
									<label for="user_id" class="control-label">아이디</label>
									<input type="text" id="user_id" name="user_id" placeholder="id를 입력하세요"
										class="form-control"><br>
								</div>
								<div class="form-group">
									<label for="name" class="control-label">이름</label>
									<input type="text" id="name" name="name" placeholder="이름을 입력하세요"
										class="form-control"><br>
								</div>
								<div class="form-group">
									<label for="pw" class="control-label">비밀번호</label>
									<input type="password" id="pw" name="pw" placeholder="비밀번호를 입력하세요"
										class="form-control"><br>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="submit">Send message</button>
						</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">수정창</h4>
						</div>
						<div class="modal-body">
							<form action="/page1/regi" method="post">
								<div class="form-group">
									<label for="user_id" class="control-label">아이디</label>
									<input type="text" id="user_id2" name="user_id2" class="form-control" disabled><br>
								</div>
								<div class="form-group">
									<label for="name" class="control-label">이름</label>
									<input type="text" id="name2" name="name2" placeholder="이름을 입력하세요"
										class="form-control" disabled><br>
								</div>
								<div class="form-group">
									<label for="pw" class="control-label">비밀번호</label>
									<input type="text" id="pw2" name="pw2" placeholder="비밀번호를 입력하세요"
										class="form-control"><br>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="javascript:edit()">Send
								message</button>
						</div>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div class="demo-container">
				<div id="data-grid-demo">
					<div id="gridDeleteSelected"></div>
					<div id="gridContainer"></div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript">
			var rownum;
			$('#exampleModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget) // Button that triggered the modal// Extract info from data-* attributes
				// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				var modal = $(this)
			})
			$('#exampleModal2').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget); // Button that triggered the modal// Extract info from data-* attributes
				// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				var modal = $(this);

				var instance = $("#gridContainer").dxDataGrid("instance");
				var rn = instance.getSelectedRowKeys();
				var id = rn.map(row => row.user_id);
				var name = rn.map(row => row.name);
				var pw = rn.map(row => row.pw);

				if (rn.length >= 2) {
					alert("한 번에 하나씩만 수정가능합니다.");
					return false;
				}

				$("#user_id2").val(id);
				$("#name2").val(name);
				$("#pw2").val(pw);

				console.log("ddd");
				console.log(rn);

			})
			function logEvent(eventName) {
				const logList = $('ul');
				const newItem = $('<li>', {text: eventName});

				logList.prepend(newItem);
			}
			$("#submit").click(function () {
				var id = $("#user_id").val();
				var name = $("#name").val();
				var pw = $("#pw").val();

				var data = [{"user_id": id, "name": name, "pw": pw}];
				var dataj = JSON.stringify(data);
				console.log(Array.isArray(dataj));
				console.log(Array.isArray(data));
				console.log(data);
				$.ajax({
					url: "/page1/regi",
					type: "POST",
					contentType: "application/json; charset=UTF-8",
					data: dataj,
					dataType: "json",
					error: function (error, request) {
						console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					},
					success: function (data) {
						alert("등록 성공하였습니다.");
						location.reload(true);
					}

				});
			});

			function delete2() {
				var instance = $("#gridContainer").dxDataGrid("instance");
				var rn = instance.getSelectedRowKeys();
				var rnj = JSON.stringify(rn);

				var result2 = confirm("정말 삭제하실겁니까?");
				if (result2 == true) {
					$.ajax({
						url: "/page1/delete",
						type: "POST",
						contentType: "application/json; charset=UTF-8",
						data: rnj,
						dataType: "json",
						error: function (error, request) {
							console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
						},
						success: function (data) {
							alert("삭제 성공하였습니다.");
							location.reload(true);
						}

					});
				}
			}
			function edit() {
				var id = $("#user_id2").val();
				var name = $("#name2").val();
				var pw = $("#pw2").val();

				var data = [{"user_id": id, "name": name, "pw": pw}];
				var dataj = JSON.stringify(data);
				$.ajax({
					url: "/page1/update",
					type: "POST",
					contentType: "application/json; charset=UTF-8",
					data: dataj,
					dataType: "json",
					error: function (error, request) {
						console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					},
					success: function (data) {
						alert("수정 성공하였습니다. ");
						location.reload(true);
					}

				});
			}

			$(function () {
				VIEW.init();
				$('#clear').dxButton({
					text: 'Clear',
					onClick() {
						$('#events ul').empty();
					},
				});
			});
			const VIEW = {
				init: function () {
					VIEW.btnInit();
					VIEW.gridInit([]);
				},
				btnInit: function () {
					$("#intro").click(function () {

						VIEW.introCallback()
					})
				},
				introCallback: function () {
					var username = $("#user_names").val();
					var user_id = $("#user_ids").val();
					var regif = $("#regi_dates_from").val();
					var regit = $("#regi_dates_to").val();
					var inputs = $("input").val();
					console.log(user_id);
					if (inputs == '') {
						inputs = null;
					}
					var dataj = [{"user_id": user_id, "name": username, "start": regif, "end": regit}];
					var data = JSON.stringify(dataj);
					$.ajax({
						url: "/page1/table",
						type: "POST",
						contentType: "application/json; charset=UTF-8",
						data: data,
						success: function (data) {
							VIEW.gridInit(data);
							console.log(data);
						}
					})
				},
				gridInit: function (data) {
					$("#gridContainer").dxDataGrid(VIEW.gridOption(data));
				},
				gridOption: function (data) {
					const config = {
						dataSource: data,
						scrolling: {
							mode: "vertual"
						},
						height: '70vh',
						columns: VIEW.columns,
						pager: {
							visible: true,
							allowedPageSizes: [10, 20, 50, 100],
							showPageSizeSelector: true,
							showInfo: true,
							showNavigationButtons: true
						},
						onContentReady: function (e) {
							e.component.option("pager.infoText", "조회 건 수: " + e.component.totalCount().toLocaleString());
						}, editing: {
							mode: 'row',
							allowUpdating: false,
							allowDeleting: false,
							allowAdding: false,

						},
						onRowClick: function (e) {

							//var rn = e.component.getSelectedRowsData();
							//var rnk = rn.map(row => row.user_id);
							//var rnf = rnk.join();

						},
						selection: {
							mode: 'multiple',
						},
						paging: {
							pageSize: 20
						},
						showBorders: true
					};

					return config;
				},
				columns: [
					{
						dataField: 'name',
						caption: 'name',
					},
					{
						dataField: 'user_id',
						caption: 'user_id',
					},
					{
						dataField: 'pw',
						caption: 'pw',
					}, {
						dataField: 'regiUser',
						caption: 'regiUser',

					}, {
						dataField: 'regiDt',
						caption: 'regiDt',
						type: 'date'

					},
					, {
						dataField: 'updaDt',
						caption: 'updaDt',
						type: 'date'

					},


				],

			}





		</script>
	</th:block>
</body>

</html>