<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<body>
	<div layout:fragment="content">
		<div class="content container-fluid">
			<div>사용자 페이지</div>
			<br>
			<button class="btn" id="intro">조회</button>
			<button type="button" class="btn-open-popup btn" data-toggle="modal" data-target="#exampleModal">등록</button>
			<button type="button" class="btn-open-popup btn" data-toggle="modal"
				data-target="#exampleModal2">수정</button>
			<button class="btn" onclick="VIEW.delete2()">삭제</button>
			<br>
			<br>
			<form id="condition">
				<div id="search_condition">
					<label for="user_names" class="control-label">이름으로 검색</label>
					<input type="text" id="user_names" name="user_names" placeholder="검색할 이름을 입력하시오." />
					<label for="user_ids" class="control-label">ID로 검색</label>
					<input type="text" id="user_ids" name="user_ids" placeholder="검색할 id를 입력하시오." />
					<br>
					<label for="regiUser" class="control-label">등록한 사람으로 검색</label>
					<input type="text" id="regiUser" name="regiUser" placeholder="등록한 사람들" />
					<label for="updaUser" class="control-label">수정한 사람으로 검색</label>
					<input type="text" id="updaUser" name="updaUser" placeholder="수정한 사람" />
					<br>
					<label for="regi_dates_from" class="control-label">등록한 시작날</label>
					<input type="date" id="regi_dates_from" name="regi_dates_from">
					<label for="regi_dates_to" class="control-label">등록한 마지막날</label>
					<input type="date" id="regi_dates_to" name="regi_dates_to">
					<br>
					<label for="upda_dates_from" class="control-label">수정 시작일</label>
					<input type="date" id="upda_dates_from" name="upda_dates_from">
					<label for="upda_dates_to" class="control-label">수정 마지막일</label>
					<input type="date" id="upda_dates_to" name="upda_dates_to">
					<br>
					<select name="use" id="use">
						<option value="">USE_YN</option>
						<option value="Y">Y</option>
						<option value="N">N</option>
					</select>
				</div>
			</form>
			<br>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">등록창</h4>
						</div>
						<div class="modal-body">
							<form method="post" id="regist">
								<div class="form-group">
									<label for="user_id" class="control-label">아이디</label>
									<input type="text" id="user_id" name="user_id" placeholder="id를 입력하세요"
										class="form-control"><br>
								</div>
								<div class="form-group">
									<label for="name" class="control-label">이름</label>
									<input type="text" id="name" name="name" placeholder="이름을 입력하세요"
										class="form-control"><br>
								</div>
								<div class="form-group">
									<label for="pw" class="control-label">비밀번호</label>
									<input type="password" id="pw" name="pw" placeholder="비밀번호를 입력하세요"
										class="form-control"><br>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="VIEW.submit()">Send message</button>
						</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">수정창</h4>
						</div>
						<div class="modal-body">
							<form method="post" id="edit">
								<div class="form-group">
									<label for="user_id" class="control-label">아이디</label>
									<input type="text" id="user_id2" name="user_id2" class="form-control" disabled><br>
								</div>
								<div class="form-group">
									<label for="name" class="control-label">이름</label>
									<input type="text" id="name2" name="name2" placeholder="이름을 입력하세요"
										class="form-control" disabled><br>
								</div>
								<div class="form-group">
									<label for="pw" class="control-label">비밀번호</label>
									<input type="text" id="pw2" name="pw2" placeholder="비밀번호를 입력하세요"
										class="form-control"><br>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="VIEW.edit()">Send
								message</button>
						</div>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div class="demo-container">
				<div id="data-grid-demo">
					<div id="gridDeleteSelected"></div>
					<div id="gridContainer"></div>
				</div>
			</div>
			<div class="demo-container">
				<div id="data-grid-demo">
					<div id="gridDeleteSelected"></div>
					<div id="groupBy"></div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript">
			var rownum;
			$('#exampleModal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget)
				var modal = $(this)
			})
			$('#exampleModal2').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var modal = $(this);
				var instance = $("#gridContainer").dxDataGrid("instance");
				var rn = instance.getSelectedRowKeys();
				var id = rn.map(row => row.user_id);
				var name = rn.map(row => row.name);
				var pw = rn.map(row => row.pw);
				if (rn.length >= 2) {
					alert("한 번에 하나씩만 수정가능합니다.");
					return false;
				}
				$("#user_id2").val(id);
				$("#name2").val(name);
				$("#pw2").val(pw);

				console.log("ddd");
				console.log(rn);

			})	
			
			$.fn.serializeObject = function () {
				"use strict";
				var result = {};
				var extend = function (i, element) {
					var node = result[element.name];
					if ("undefined" !== typeof node && node !== null) {
						if ($.isArray(node)) {
							node.push(element.value);
						} else {
							result[element.name] = [node, element.value];
						}
					} else {
						result[element.name] = element.value;
					}
				};

				$.each(this.serializeArray(), extend);
				return result;
			};

			$(function () {
				VIEW.init();
			});
			const VIEW = {
				init: function () {
					VIEW.btnInit();
					VIEW.gridInit([]);
				},
				btnInit: function () {
					$("#intro").click(function () {

						VIEW.introCallback()
					})
				},
				introCallback: function () {
					var data2 = $("#condition").serializeObject();
					console.log(data2);
					var data = JSON.stringify(data2);
					$.ajax({
						url: "/page1/table",
						type: "POST",
						contentType: "application/json; charset=UTF-8",
						data: data,
						success: function (data) {
							VIEW.gridInit(data.members);
							VIEW.gridInit2(data.report);
							console.log(data.members)
						}
					})
				},
				gridInit: function (data) {
					$("#gridContainer").dxDataGrid(VIEW.gridOption(data));
				},
				gridInit2: function (data) {
					$("#groupBy").dxDataGrid(VIEW.gridOption2(data));
				},
				gridOption: function (data) {
					const config = {
						dataSource: data,
						scrolling: {
							mode: "vertual"
						},
						height: '70vh',
						columns: VIEW.columns,
						pager: {
							visible: true,
							allowedPageSizes: [10, 20, 50, 100],
							showPageSizeSelector: true,
							showInfo: true,
							showNavigationButtons: true
						},
						onContentReady: function (e) {
							e.component.option("pager.infoText", "조회 건 수: " + e.component.totalCount().toLocaleString());
						}, editing: {
							mode: 'row',
							allowUpdating: false,
							allowDeleting: false,
							allowAdding: false,

						},
						selection: {
							mode: 'multiple',
						},
						paging: {
							pageSize: 20
						},
						showBorders: true
					};

					return config;
				},
				gridOption2: function (data) {
					const config = {
						dataSource: data,
						scrolling: {
							mode: "vertual"
						},
						width: '50vh',
						columns: VIEW2.columns,
						editing: {
							mode: 'row',
						},
						pager: {
							visible: true,
							showInfo: true,
						},
						onContentReady: function (e) {
							e.component.option("pager.infoText", "조회 건 수: " + e.component.totalCount().toLocaleString());
						},
						showBorders: true
					};

					return config;
				},
				delete2: function () {
					var instance = $("#gridContainer").dxDataGrid("instance");
					var rn = instance.getSelectedRowKeys();
					var rnj = JSON.stringify(rn);
					console.log(rnj);

					var result2 = confirm("정말 삭제하실겁니까?");
					if (result2 == true) {
						$.ajax({
							url: "/page1/delete",
							type: "POST",
							contentType: "application/json; charset=UTF-8",
							data: rnj,
							dataType: "json",
							error: function (error, request) {
								console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
							},
							success: function (data) {
								alert("삭제 성공하였습니다.");
								location.reload(true);
							}

						});
					}
				},
				edit: function () {
					var id = $("#user_id2").val();
					var pw = $("#pw2").val();
					var data2 = $("#edit").serializeObject();
					var data = {"user_id": id, "pw": pw};
					var dataj = JSON.stringify(data);
					$.ajax({
						url: "/page1/update",
						type: "POST",
						contentType: "application/json; charset=UTF-8",
						data: dataj,
						dataType: "json",
						error: function (error, request) {
							console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
						},
						success: function (data) {
							alert("수정 성공하였습니다. ");
							location.reload(true);
						}

					});
				},
				submit: function () {
					var data2 = $("#regist").serializeObject();
					console.log(data2);
					var dataj = JSON.stringify(data2);
					$.ajax({
						url: "/page1/regi",
						type: "POST",
						contentType: "application/json; charset=UTF-8",
						data: dataj,
						dataType: "json",
						error: function (error, request) {
							console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
						},
						success: function (data) {
							alert("등록 성공하였습니다.");
							location.reload(true);
						}

					});
				},
				columns: [
					{
						dataField: 'name',
						caption: 'name',
					},
					{
						dataField: 'user_id',
						caption: 'user_id',
					},
					{
						dataField: 'pw',
						caption: 'pw',
					}, {
						dataField: 'regiUser',
						caption: 'regiUser',

					}, {
						dataField: 'regiDt',
						caption: 'regiDt',
						customizeText: function (cellInfo) {
							var data = null;
							if (cellInfo.value != null)
								data = cellInfo.value.substr(0, 10);
							return data;
						}

					},
					{
						dataField: 'updaUser',
						caption: 'updaUser',

					}, {
						dataField: 'updaDt',
						caption: 'updaDt',
						customizeText: function (cellInfo) {
							var data = null;
							if (cellInfo.value != null)
								data = cellInfo.value.substr(0, 10);
							return data;
						}
					}
				],
			}

			const VIEW2 = {
				columns: [
					{
						dataField: 'regiDt',
						caption: '등록일',
					},
					{
						dataField: 'count',
						caption: '계정수',
					},
				],
			}







		</script>
	</th:block>
</body>

</html>